services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5157:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - sqlite-data:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  sqlite-data:
